.datepicker-wrapper {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.datepicker-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 175px;
    height: 50px;
    background: var(--foreground);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    outline: 2px solid var(--primary);
    z-index: 2;
}

.datepicker-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10; /* Lower than container */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.datepicker-container {
    width:  fit-content;
    height: 65vh;
    max-width: 100vw;
    max-height: 100vh;
    padding: 1rem;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--foreground);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    
}

.datepicker-header {
    /* Give the header some breathing room */
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.current-month {
    font-size: 24px;
}

/* The grid should fill the remaining space for the calendar */
.datepicker-grid {
    flex: 1;
    width: 100vw;
    gap: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.datepicker-day-label {
    font-size: 20px;
    margin: 0;
    line-height: normal;
    text-align: center;
    font-weight: bold;
}

.datepicker-cell {
    border-radius: 0;
    margin: 0;
    padding: 0;
    min-height: 48px;
    font-size: 16px;
    line-height: 0; 
    cursor: pointer;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: var(--border-radius);
}

.datepicker-cell:hover:not(.disabled):not(.selected) {
    background: var(--foreground);
}

.datepicker-cell.today {
    border: 1px solid var(--primary);
    color: var(--copy-light);
}

.datepicker-cell.selected {
    background: var(--primary);
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: var(--box-shadow);
}

.datepicker-cell.disabled {
    color: var(--copy-lighter);
    pointer-events: none;
    text-decoration: line-through;
}


