.dropdown-top-bar {
    display: none;
    box-shadow: var(--box-shadow);
    border-radius: 0;
    width: 100%;
    height: 70px;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    z-index: 15;
    background: var(--foreground-head);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(25px);
    padding: 1rem;
}

.dropdown-header {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 1rem;

}

.show-dropdown-button {
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    margin-right: 10px;
    padding: 0;
    color: var(--copy);
}


.dropdown-button {
    position: relative;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: transparent;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    z-index: 5;
    font-size: 24px;
}

.icon {
    width: 30px;
    height: 30px;
    fill: var(--primary);
    z-index: 5;

}

.dropdown-button p {
    margin: 0;
    text-decoration: none;
    font-size: 24px;
    z-index: 5;
}

@media screen and (max-width: 675px) {
    .dropdown-top-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .dropdown {
        display: flex;
    }
}
