.movies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.movieCard {
    border: none;
    width: 100%;
    height: fit-content;
    border-radius: none;
    margin-bottom: 0px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.film-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}



.film-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;
}

.film-name {
    margin: 0;
    margin-bottom: 1px;
    font-size: auto;
}


.film-info p {
    margin: 0;
    font-size: 0.8rem;
    color: var(--text);
}

.showtime a {
    text-decoration: none;
    border: 1px solid var(--border);
    border-radius: 0.375rem;
    border: none;
}

.showtime-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.showtime-button {
    border: none;
    border-radius: 0.375rem;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
    background: var(--secondary);
    color: var(--foreground);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: fit-content;
    outline: 2px solid var(--primary);
}

.showtime-button p {
    padding: 0.75rem 1rem;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.film {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:0;
    padding: 1.5rem;
    border: 1px solid var(--border);
    border-radius: 0;
    box-shadow: var(--box-shadow);
    background: var(--foreground);
    max-width: 1000px;
    width: 100%;
}


.poster {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.poster-loading {
    width: 200px;
    height: 300px;
    background-color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;

}

.no-shows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 1rem 0.5rem;
    background-color: var(--foreground);
}


.film-trailer-desc {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.film-trailer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

.film-trailer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    width: 50px;
    height: 30px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: 2px solid var(--primary);
    border: none;
    border-radius: 0.375rem;
    background: var(--foreground);
    color: var(--copy);
    gap: 10px;
}

.film-trailer p {
    margin: 0;
    font-size: 0.75rem;

}

.film-trailer-desc p {
    margin: 0;
    font-size: 1rem;
    color: var(--text);
}

.trailer-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.close-trailer {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0;
    cursor: pointer;
    color: var(--foreground);
    background: none;
    border: none;
    border-radius: 0.375rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    font-size: 40px;


}

.trailer-frame {
    z-index: 100;
    border: none;
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 400px;
    box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

.trailer-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 60vw;
    max-width: 700px;
    max-height: 400px;
    background: var(--foreground);
    padding: 1rem;
    border-radius: 0.375rem;
    box-shadow: var(--box-shadow);
    z-index: 99;
}


@media screen and (max-width: 600px) {
    .film {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;

    }

    .movieCard {
        width: fit-content;
        border-radius: none;
    }

    .film-name {
        font-size: calc(25vw / 7);
        margin-bottom: 1px;
        margin-top: 0.5rem;

    }

    .film-name h3 {
        font-weight: bold;
    }

    .film img {
        width: 50vw;
    }

    .showtime-button {
        width: 50vw;
        height: fit-content;
        font-size: 1rem;
    }
}