.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0;
    width: 100vw;
    max-width: 1000px;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 5;
    background: rgba(251, 251, 251, 0.75);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
}

.nav-content-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 15px; */
    gap: 20px;

}

.nav-button {
    position: relative;
    width: 90px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    font-size: 0.75rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}



.nav-button p {
    margin: 0;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: bold;
}


.icon {
    color: var(--primary);
    font-size: 1.75rem;
}

.nav-logo {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 45px;
    z-index: 5;
}


@media screen and (max-width: 675px) {
    .nav-container {
        display: none;
    }
}