.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;
    background: rgba(251, 251, 251, 0.75);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.nav-content-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
    gap: 20px;
}

.nav-button {
    position: relative;
    background: #fbfbfb;
    width: 90px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    font-size: 0.75rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}



.nav-button p {
    margin: 0;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: bold;
}

.dropdown-container {
    display: none;
}


.dropdown {
    display: none;
    z-index: 0;
}


.dropdown-button {
    background: var(--background);
    color: var(--copy);
    padding: 2rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.25rem;
    width: 90vw;
}

.dropdown-button p {
    margin: 0;
    text-decoration: none;
    color: var(--copy);
}

.icon {
    color: var(--primary);
    font-size: 2rem;
}

.show-dropdown-button {
    display: none;
    position: relative;
    z-index: 1;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 50px;
    width: 100px;
    border-radius: var(--border-radius);
    border: none;
    background: transparent;
    cursor: pointer;
}

.nav-logo {
    position: relative;
    left: 0;
    width: auto;
    height: 50px;
    z-index: 5;
}







@media screen and (max-width: 650px) {
    .nav-buttons-container {
        display: none;
    }

    .nav-container {
        justify-content: space-between;
        width: 100%;
        background: var(--foreground);
        z-index: 5;
    }

    .show-dropdown-button {
        display: flex;
        color: var(--copy);
        margin-left: 0;
        right: 0;
        padding: 0;
        width: 50px;
        height: 50px;
        font-size: 48px;
        font-style: bold;
    }


    .dropdown {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: -800px;
        right: 0;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        background: var(--foreground);
        border-radius: 0;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    }


    .dropdown-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        height: 85px;
        width: 90vw;
        border-radius: var(--border-radius);
        border: 1px solid var(--border);
        background: var(--background);
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
    }

}