.prices {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}


.showtype {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    width: 100%;
    box-shadow: var(--box-shadow);
    background: var(--foreground-blur);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border);
    max-width: 800px;
}

.showtype p {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.price-item p {
    margin: 0;
    font-size: 1rem;
}