.select-theater-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    z-index: 1;
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    overflow: hidden;
    background: var(--foreground);
    box-shadow: var(--box-shadow);
    height: 50px;
    
}

.toggle-background {
    display: flex;
    position: relative;
    align-items: center;
    justify-self: center;
    border-radius: 50%;
    width: fit-content;
    padding: 0;
    height: 100%;
}

.toggle-button {
    display: flex;
    z-index: 1;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 200px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    background: transparent;
    border: none;
    color: var(--copy);
    cursor: pointer;
}

.button-text p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: bold;
}

.toggle-slider {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.slider {
    position: absolute;
    z-index: 0;
    width: 50%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--primary);
}

@media (min-width: 768px) {
    .toggle-button {
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
        padding-left: 0.75rem;
        padding-right: 0.875rem;
    }
}