.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
}

.slideshow-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 70px;
    left: 0;
}

.slideshow-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow);
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
}

.slideshow-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1000px;
}


.slide-image {
    width: auto;
    height: 80%;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    z-index: 1;
    
}

.slide-text-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: fit-content;
    max-width: 50%;
    height: 75%;
    padding: 0.5rem 1rem;
}

.slide-text-div h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--foreground);
    text-shadow: 0px 0px 10px 10px var(--border);
    margin: 0;
}


.slide-text-div p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--foreground);
    text-shadow: 0px 0px 10px 10px var(--border);
    margin: 0;
}

.slideshow-controls-container {
    position: absolute;
    top: 200px;
    z-index: 5;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem;
    align-items: center;
}

.slideshow-buttons {
    position: absolute;
    z-index: 4;
    top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}

.slideshow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 350px;
    border: none;
    border-radius: 0;
    background: none;
    color: var(--foreground);
    font-size: 1.5rem;
    cursor: pointer;
}


@media screen and (max-width: 600px){

    .slideshow-buttons {
        top: 70px;
    }
    .slideshow-button {
        height: 425px;
    }
    .slideshow-content {
        flex-direction: column;
    }

    .slide-text-div {
        max-width: 100%;
    }

    .slideshow-div {
        height: 425px;
        top: 70px;
    }

    .slide-image {
        margin-top: 25px;
        height: 70%;
    }

}