.upcoming {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    overflow: hidden;
    padding: 0;
    padding-bottom: 3rem;
    padding-top: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.upcoming h2 {
    margin: 0;
}

.upcoming-shows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.upcoming-show {
    width: 50vw;
    max-width: 275px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--foreground);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
}

.upcoming-show img {
    width: 100%;
    max-width: 175px;
    height: auto;
    object-fit: cover;
    border-radius: 0;
    box-shadow: var(--box-shadow);
    margin-bottom: 25px;
    margin-top: 19px;
}


.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0rem;
    width: 100%;
}

.title h4 {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--copy);
    margin: 0;
}

.title p {
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--copy-light);
    margin: 0;
}

.upcoming-show p {
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--copy-light);
    margin: 0;
}