.upcoming-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.upcoming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding: 1rem 0 3rem;
    width: 100%;
    max-width: 1000px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }

  .upcoming::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  
  .upcoming h2 {
    margin: 0;
  }
  
  .upcoming-shows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .upcoming-shows::-webkit-scrollbar {
    display: none;
  }
  
  
  .upcoming-show {
    width: 200px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--foreground);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    margin: 25px;
    z-index: 1;
    border: 1px solid var(--border);
  }
  
  .upcoming-show img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin: 10px 0 15px;
  }
  
  .title h4 {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--copy);
    margin: 0;
  }
  
  .title p,
  .upcoming-show p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--copy-light);
    margin: 0;
  }

  .curtains {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 125%;
    max-width: 1200px;
    top: 85px;
    z-index: 2;
  }

  .leftcurtain {
    width: 230px;
    height: auto;
  }
  
  .rightcurtain {
    width: 230px;
    height: auto;
  }
  

  .rfm-overlay {
    overflow: visible;
  }