.upcoming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--background);
    scroll-behavior: none;
    margin-bottom: 10px;
}

.upcoming-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
    width: 100%;
}

.upcoming-show {
    background: var(--foreground);
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 35vw;
    width: 30vw;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

}

.upcoming-show h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 50%;
    color: var(--copy);
}

.upcoming-show p {
    margin: 0;
    padding: 0;
    font-size: 0.5rem;
    color: var(--copy);
}

.upcoming-poster {
    width: 80%;
    height: auto;
}