.upcoming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding: 1rem 0 3rem;
    width: 100%;
  }
  
  .upcoming h2 {
    margin: 0;
  }
  
  .upcoming-shows {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;

  }

  .upcoming-shows::-webkit-scrollbar {
    display: none;
  }
  
  .carousel-track {
    display: flex;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  
  .upcoming-show {
    flex: 0 0 20%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--foreground);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    margin: 0 12.5px; /* Half of the gap to maintain spacing */
  }
  
  .upcoming-show img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    /* box-shadow: var(--box-shadow); */
    margin: 10px 0 15px;
  }
  
  .title h4 {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--copy);
    margin: 0;
  }
  
  .title p,
  .upcoming-show p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--copy-light);
    margin: 0;
  }
  