.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 0 1rem;
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    padding-bottom: 5rem;
}

.about-header {
    width: 100%;
    background: var(--foreground);
    max-width: 1000px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border);
    margin-bottom: 1rem;


}

.about-header h1 {
    color: var(--copy);
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    gap: 1rem;
    margin-top: 25px;

}



.newCap {
    height: auto;
    width: 100%;
    max-width: 1000px;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border);
    margin-bottom: 1rem;
}

.oldCap {
    height: 100%;
    width: 45%;
    max-width: 300px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
}

.oldParamount {
    height: 100%;
    max-height: 200px;
    width: 45%;
    max-width: 300px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
}


.jiddo {
    height: auto;
    width: 100%;
    max-width: 300px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
}

.old-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    gap: 25px;
    background: var(--foreground);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border);
}

.old-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    max-width: 1000px;

}



.about-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 1rem;

}

.about-top-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    background: var(--foreground);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border);
    padding: 1rem;

}

.about-top-text-container p {
    color: var(--copy);
    margin: 0;
    font-size: 1.25rem;
    text-align: justify;
    text-justify: inter-word;

}



.about-text-container p {
    color: var(--copy);
    font-size: 1.25rem;
    text-align: justify;
    text-justify: inter-word;
}



