table {
    width: 90vw;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table thead {
    background: var(--foreground);
    color: var(--text);
}

table thead th {
    padding: 0.5rem;
    border: 1px solid var(--border);
}
table tbody {
    background: var(--foreground);
    color: var(--text);
}

table tbody td {
    padding: 0.5rem;
    border: 1px solid var(--border);
    width: fit-content;
    text-align: center;
}

table tbody td:nth-child(1) {
    font-size: 12px;
}

table tbody td:nth-child(2) {
    font-size: 12px;
}

table tbody td:nth-child(3) {
    font-size: 12px;
}

table tbody td:nth-child(5) {
    padding: 0;
    width: 20px;
}

table tbody td img {
    width: 50px;
    height: auto;
}



table tbody td button {
    background: var(--secondary);
    color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    font-size: 16px;

}

  
.admin-table table tbody td button {
    background: var(--secondary);
    color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
}

.admin-table-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.admin-table-header {
    display: flex;
    width: 90vw;
    max-width: 1000px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0;
    padding: 0;
    background: var(--foreground);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-table-header div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 125px;
    height: 20px;
    padding: 1rem;
    font-size: 12px;
    font-weight: 700;
}

.admin-table-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 1000px;
    margin-bottom: 5px;
    padding: 0;
    background: var(--foreground);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: 12px;
    
}

.admin-table-row div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 1rem;
}


.admin-table-row img {
    width: 50px;
    height: auto;
}




.admin-console {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-console-header {
    display: flex;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;
    padding: 1rem;
    background: var(--foreground);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-console-header h2 {
    margin: 0;
    padding: 0;
    color: var(--text);
}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.admin-table-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sign-out-button {
    background: var(--secondary);
    color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    font-size: smaller;
    width: fit-content;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.add-announcement-button {
    background: var(--secondary);
    color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 1rem;

}

.add-slideshow-button {
    background: var(--secondary);
    color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.add-edit-announcement-container {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--foreground);
    width: 80vw;
    height: fit-content;
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

.add-edit-announcement-container form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;

}

.submit-button {
    background: var(--secondary);
    color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.add-edit-announcement-container form textarea {
    resize: none;
    width: 100%;
    height: 175px;
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.in-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.date-input {
    min-width: fit-content;
    width: 25%;
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.title-input {
    width: 75%;
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.file-input {
    width: 75%;
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}



.upload-status {
    position: fixed;
    bottom: 10px;
    width: fit-content;   
    padding: 0; 
    z-index: 10;
}

.upload-status-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    background: var(--foreground);
    color: var(--text);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-status-content p {
    margin: 0;
}

.current-show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 90vw;
    margin-top: 20px;
}

.current-show img {
    width: 50px;
    height: auto;
}

.admin-edit-show-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.admin-edit-show {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--foreground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90vw;
    height: fit-content;
    padding: 1rem;
    margin-top: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

}

.close-button {
    background: var(--secondary);
    color: var(--foreground);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: fit-content;
    margin: 25px;
}


