.home-icon1 {
  position: absolute;
  width: auto;
  height: auto;
  /* right: 0px; */
  left: calc(50% - 1000px);
  right: calc(50% - 1000px);
  top: -250px;
  z-index: 0;
  transform: scale(0.5);
}

.home-icon2 {
  position: absolute;
  width: auto;
  height: auto;
  /* right: 0px; */
  right: calc(50% - 1000px);
  left: calc(50% - 1300px);
  top: 550px;
  z-index: 0;
  transform: scale(0.5) rotateY(180deg);
}


.movies-container {
  position: relative;
}


.date-icon {
  width: 35px;
  height: 35px;
  fill: var(--icon);
}
 
.home-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .home-options {
    flex-direction: column;
    gap: 0.5rem;
  }
}