.home-icon1 {
  position: absolute;
  width: auto;
  height: auto;
  /* right: 0px; */
  left: calc(50% - 1000px);
  right: calc(50% - 1000px);
  top: -315px;
  z-index: 0;
  transform: scale(0.5);
}

.home-icon2 {
  position: absolute;
  width: auto;
  height: auto;
  /* right: 0px; */
  right: calc(50% - 1000px);
  left: calc(50% - 1300px);
  top: 550px;
  z-index: 0;
  transform: scale(0.5) rotateY(180deg);
}


.movies-container {
  position: relative;
}

.date-button {
  position: relative;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 200px;
  height: auto;
  padding: 0.5rem 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--foreground);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: var(--copy);
  font-weight: 700;
  z-index: 1;
}

.date-icon {
  width: 35px;
  height: 35px;
  fill: var(--icon);
}
