.home-icon1 {
  position: absolute;
  width: auto;
  height: auto;
  /* right: 0px; */
  left: calc(50% - 1000px);
  right: calc(50% - 1000px);
  top: -250px;
  z-index: 0;
  transform: scale(0.5);
}

.home-icon2 {
  position: absolute;
  width: auto;
  height: auto;
  /* right: 0px; */
  right: calc(50% - 1000px);
  left: calc(50% - 1300px);
  top: 550px;
  z-index: 0;
  transform: scale(0.5) rotateY(180deg);
}


.movies-container {
  position: relative;
}

.date-button {
  position: relative;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 200px;
  height: auto;
  padding: 0.5rem 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--foreground);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: var(--copy);
  font-weight: 700;
  z-index: 1;
}

.date-icon {
  width: 35px;
  height: 35px;
  fill: var(--icon);
}

.giftcard-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  background: var(--foreground);
  box-shadow: var(--box-shadow);
  border-radius: 0;
  max-width: 1000px;
  margin-bottom: 50px;
  border: 1px solid var(--border);
  text-align: center;
}

.giftcard-container p {
  margin: 0;
  font-size: 20px;
}

.giftcard-container h2 {
  margin: 0;
}

.giftcard-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1rem;
  background: var(--secondary);
  color: var(--foreground);
  box-shadow: var(--box-shadow);
  width: 200px;
  height: 50px;
  outline: 2px solid var(--primary);
  font-weight: 700;
}

@media screen and (min-width: 1000px) {
  .giftcard-container {
    border-radius: var(--border-radius);
  }
}