.locations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1000px;
}

.locations h2 {
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-bottom: 10px;
}

.locations h3 {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.locations p {
    margin: 0;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 92%;
    align-self: center;
    background: var(--foreground);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    z-index: 1;
    margin-bottom: 25px;
    border: 1px solid var(--border);
}

.info p {
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.Map {
    width: 500px;
    height: 500px;
}

.maps {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.map-container {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    border: 1px solid var(--border);
    border-radius: 0.375rem;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background: var(--foreground);
}


.cap-map {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    border: 1px solid var(--border);
    padding-top: 0.5rem;
    padding-bottom: 0.5em;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background: var(--foreground);
    z-index: 1;
}

.cap-map h3 {
    margin-bottom: 10px;
}

.cap-map p {
    margin: 0;
    font-size: 1rem;
}




.par-map h3 {
    margin-bottom: 10px;
}

.par-map p {
    margin: 0;
    font-size: 1rem;
}

.par-map {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    border: 1px solid var(--border);
    padding-top: 0.5rem;
    padding-bottom: 0.5em;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background: var(--foreground);
    z-index: 1;
}

.call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    text-decoration: none;
    color: var(--copy);
    font-size: 1rem;
    width: 80%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.375rem;
    border: 1px solid var(--border);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.5);
}

.call p {
    margin: 0;
    font-size: 1rem;
}

.call-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.masks-icon {
    position: absolute;
    width: auto;
    height: 250px;
    top: -100px;
    transform: rotateZ(-25deg);
    z-index: 0;
}

.stars-icon {
    position: absolute;
    width: auto;
    height: 20%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    bottom: -125px;
    z-index: 0;
}

@media screen and (max-width: 1000px) {
    .maps {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
    }

    .info {
        width: 95%;
    }
    .cap-map {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .par-map {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .stars-icon {
        display: none;
    }
    .masks-icon {
        top: 125px;
    }


}
