.tickets {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overscroll-behavior: contain;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 25px;
    max-width: 1000px;
    gap: 1rem;
}


.tickets-terms {
    width: 100%;
    background: var(--foreground);
    border: 1px solid var(--border);
    border-radius: 0;
    box-shadow: var(--box-shadow);
    padding: 0.5rem 1rem;
    overflow: scroll;
    margin-top: -1rem;
    margin-bottom: 25px;
    overscroll-behavior: auto;
    z-index: 1;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    backdrop-filter: blur(5px);
}

.tickets-terms::-webkit-scrollbar {
    display: none;
}

.buy-ticket-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--foreground);
    border: 1px solid var(--border);
    border-radius: 0;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    overflow: scroll;
    overscroll-behavior: auto;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.buy-ticket-container h3 {
    margin: 0;
    margin-bottom: 1rem;
}

.tickets h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.tickets-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: var(--foreground);
    padding: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: var(--box-shadow);
    border-radius: 0;
    border: 1px solid var(--border);

}

.tickets-header h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.tickets-terms h3 {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.tickets p {
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    justify-content: flex-start;
    text-align: justify;
    text-justify: inter-word;
}

.tickets-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
}

.tickets-button a {
    margin-bottom: 0;
}

.buy-button {
    background-color: var(--foreground);
    outline: 2px solid var(--primary);
    width: fit-content;
    padding: 1rem;
    border: none;
    color: var(--copy);
    font-size: 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    z-index: 1;
}

.prices {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.buy-ticket-container::-webkit-scrollbar {
    display: none;
}

.prices table {
    width: 90%;
    border-collapse: collapse;
    margin: 0;
    z-index: 1;
    overflow: hidden;
    border-radius: var(--border-radius);
    border: 2px solid var(--border);
    background: transparent;
}

.prices table tr {
    text-align: center;
}

.prices table tr th {
    font-weight: 700;
    text-align: center;
}

.prices table tr td:nth-child(1) {
    font-weight: 700;
}

.prices table tr td {
    padding: 0.5rem;
    border: 1px solid var(--border);
    font-size: 14px;
}


.film-reel1 {
    position: absolute;
    top: -230px;
    left: -100px;
    width: auto;
    height: 500px;
    z-index: 0;
}

.film-reel2 {
    position: absolute;
    top: 125px;
    right: -100px;
    width: auto;
    height: 500px;
    z-index: 0;
    transform: rotateY(180deg);
}

.tickets-icon {
    width: 300px;
    height: 300px;
    position: absolute;
    left: -50px;
    bottom: 300px;

}


@media screen and (max-width: 675px) {
    .prices table {
        width: 100%;
    }

    .tickets-terms {
        border-radius: 0;
        width: 100%;
    }

    .tickets {
        margin-top: 25px;
    }

    .film-reel1 {
        top: -90px;
        left: -150px;
    }
    
    .film-reel2 {
        top: 225px;
        right: -150px;
    }
    
}



@media screen and (min-width: 1000px) {
    .tickets-header {
        border-radius: var(--border-radius);
    }

    .buy-ticket-container {
        border-radius: var(--border-radius);
    }

    .concessions-container {
        border-radius: var(--border-radius);
    }

    .tickets-terms {
        border-radius: var(--border-radius);
    }
    
}
