.tickets {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overscroll-behavior: contain;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 25px;
    margin-bottom: 25px;
}


.tickets-terms {
    width: 100%;
    background: var(--foreground);
    border: var(--border);
    border-radius: none;
    box-shadow: var(--box-shadow);
    padding: 0.5rem 1rem;
    overflow: scroll;
    margin-bottom: 25px;
    overscroll-behavior: auto;
    
}

.buy-ticket-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--foreground);
    border: var(--border);
    border-radius: none;
    box-shadow: var(--box-shadow);
    padding: 0;
    overflow: scroll;
    margin-bottom: 50px;
    overscroll-behavior: auto;
    margin-top: 10px;
}

.tickets h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.tickets h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.tickets-terms h3 {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.tickets p {
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    justify-content: flex-start;
    text-align: justify;
    text-justify: inter-word;
}

.tickets-button {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    height: 100%;
}

.tickets-button a {
    margin-bottom: 0;
}


.terms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;

}

.terms input {
    justify-self: center;
}

.buy-button {
    background-color: var(--foreground);
    outline: 2px solid var(--primary);
    width: 50vw;
    padding: 1rem 2rem;
    border: none;
    color: var(--copy);
    font-size: 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    margin-bottom: 50px;
}

.prices {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.prices table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.prices table tr {
    text-align: center;
}

.prices table tr th {
    font-weight: 700;
    text-align: center;
}

.prices table tr td:nth-child(1) {
    font-weight: 700;
}

.prices table tr td {
    padding: 0.5rem;
    border: 1px solid var(--border);
    font-size: 14px;
}

.gift-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--border);
    border-radius: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: var(--foreground);
    max-width: 1500px;
    width: 100%;
    margin-top: -1.5rem;
}

.gift-card img {
    width: 200px;
    height: auto;
    align-self: center;
}

.gift-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: flex-start;
    margin-left: 1rem;
    text-align: justify;
}

.gift-card-text h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: bold;
}

.gift-card-text h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;

}

.gift-card-text p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 10px;
}



@media screen and (max-width: 600px) {
    .prices table {
        width: 100%;
    }

    .tickets-terms {
        border-radius: none;
        width: 100%;
    }
    
}