.tickets {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overscroll-behavior: contain;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: -75px;
    margin-bottom: 25px;
    max-width: 1000px;
}


.tickets-terms {
    width: 100%;
    background: var(--foreground);
    border: var(--border);
    border-radius: none;
    box-shadow: var(--box-shadow);
    padding: 0.5rem 1rem;
    overflow: scroll;
    margin-bottom: 25px;
    overscroll-behavior: auto;
    z-index: 1;
    
}

.buy-ticket-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--foreground);
    border: var(--border);
    border-radius: none;
    box-shadow: var(--box-shadow);
    padding: 0;
    overflow: scroll;
    margin-bottom: 50px;
    overscroll-behavior: auto;
    margin-top: 10px;
    z-index: 1;
}

.tickets h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.tickets h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.tickets-terms h3 {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.tickets p {
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    justify-content: flex-start;
    text-align: justify;
    text-justify: inter-word;
}

.tickets-button {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    height: 100%;
}

.tickets-button a {
    margin-bottom: 0;
}


.terms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;

}

.terms input {
    justify-self: center;
}

.buy-button {
    background-color: var(--foreground);
    outline: 2px solid var(--primary);
    width: fit-content;
    padding: 1rem 2rem;
    border: none;
    color: var(--copy);
    font-size: 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    margin-bottom: 50px;
    z-index: 1;
}

.prices {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.prices table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.prices table tr {
    text-align: center;
}

.prices table tr th {
    font-weight: 700;
    text-align: center;
}

.prices table tr td:nth-child(1) {
    font-weight: 700;
}

.prices table tr td {
    padding: 0.5rem;
    border: 1px solid var(--border);
    font-size: 14px;
}

.gift-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--border);
    border-radius: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: var(--foreground);
    max-width: 1500px;
    width: 100%;
    margin-top: -1.5rem;
    z-index: 1;
    overflow: hidden;
}

.gift-card img {
    width: 200px;
    height: auto;
    align-self: center;
}

.gift-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: flex-start;
    margin-left: 1rem;
    text-align: justify;
}

.gift-card-text h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: bold;
}

.gift-card-text h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;

}

.gift-card-text p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 10px;
}


.film-reel1 {
    position: absolute;
    top: -230px;
    left: -100px;
    width: auto;
    height: 500px;
    z-index: 0;
}

.film-reel2 {
    position: absolute;
    top: 125px;
    right: -100px;
    width: auto;
    height: 500px;
    z-index: 0;
    transform: rotateY(180deg);
}

.tickets-icon {
    width: 300px;
    height: 300px;
    position: absolute;
    left: -50px;
    bottom: 300px;

}

.concessions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--foreground);
    border: var(--border);
    border-radius: none;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    overflow: scroll;
    margin-bottom: 50px;
    overscroll-behavior: auto;
    margin-top: 10px;
    z-index: 1;
    text-align: center;
}

.concessions h4 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: bold;
}

.concessions h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;

}

.concessions-header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    gap: 25px;
}

.concessions-header-buttons button {
    background: var(--foreground);
    color: var(--copy);
    padding: 0.5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);


}

.popcorn {
    margin: 0;
    width: 100%;
    height: 100%;
}

.soda {
    margin: 0;
    width: 100%;
    height: 100%;

}

.concession-icon {
    margin: 0;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 675px) {
    .prices table {
        width: 100%;
    }

    .tickets-terms {
        border-radius: none;
        width: 100%;
    }

    .tickets {
        margin-top: 100px;
    }

    .film-reel1 {
        top: -90px;
        left: -150px;
    }
    
    .film-reel2 {
        top: 225px;
        right: -150px;
    }
    
}