/* Light Mode */
:root {
  --primary: rgb(149, 21, 18);
  --primary-content: rgb(246, 178, 176);
  --primary-dark: rgb(103, 15, 13);
  --primary-light: rgb(194, 27, 23);
  
  --secondary: rgb(149, 21, 18);
  --secondary-content: rgb(246, 178, 176);
  --secondary-dark: rgb(103, 15, 13);
  --secondary-light: rgb(194, 27, 23);
  
  --background: rgb(240, 240, 240);
  --foreground: rgba(251, 251, 251, 0.95);
  --border: rgb(223, 223, 223);
  
  --copy: rgb(38, 38, 38);
  --copy-light: rgb(102, 102, 102);
  --copy-lighter: rgb(140, 140, 140);
  
  --success: rgb(18, 149, 18);
  --warning: rgb(149, 149, 18);
  --error: rgb(149, 18, 18);
  --success-content: rgb(176, 246, 176);
  --warning-content: rgb(0, 0, 0);
  --error-content: rgb(246, 176, 176);


  --background-blur: rgba(240, 240, 240, 0.5);
  --foreground-solid: rgba(251, 251, 251, 1);
  --foreground-glass: rgba(223, 223, 223, 0.50);
  --foreground-head: rgba(251, 251, 251, 0.75);

  --border-radius: 0.375rem;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: rgb(240, 239, 239);
    background: rgb(240, 239, 239);
    --gold: rgb(198 152 102);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(26, 26, 26);
    --foreground: rgba(38, 38, 38, 0.95);
    --border: rgb(64, 64, 64);
    
    --copy: rgb(251, 251, 251);
    --copy-light: rgb(217, 217, 217);
    --copy-lighter: rgb(166, 166, 166);

    --background-blur: rgba(26, 26, 26, 0.5);
    --foreground-solid: rgba(38, 38, 38, 1);
    --foreground-glass: rgba(38, 38, 38, 0.50);
    --foreground-head: rgba(38, 38, 38, 0.75);

    background-color: rgb(27, 24, 24);
    background: rgb(27, 24, 24);

  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background-color: var(--background);
    background: var(--background);
  }
}

body {
  background: var(--background);
  overscroll-behavior: none;
  background-color: var(--background);
  background: var(--background);
}

a {
  text-decoration: none;
  color: var(--copy);
  -webkit-tap-highlight-color: transparent;
}


button,
input,
select,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.App {
  /* position: relative; */
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--background);
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  overscroll-behavior: none;
  padding-top: 2rem;
  padding-bottom: 0;
}



.App::-webkit-scrollbar {
  display: none;
}

.App h1 {
  font-size: 2.5rem;
  color: var(--copy);
}

.App h2 {
  font-size: 2rem;
  color: var(--copy);
}

.App p {
  font-size: 1.5rem;
  color: var(--copy);
}


.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  /* max-width: 1000px; */
  height: fit-content;
  background: var(--background);
  margin-top: 40px;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}


.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: fit-content;
  background: var(--background);
  margin-top: 25px;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  overflow-y: hidden;
  overflow-x: hidden;
  padding-bottom: 25px;
}

.home-container h2 {
  margin: 0;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.loading-svg {
  height: 100px;
  width: 100px;
  animation: spin 10s linear infinite;
}


.footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 1rem;
  width: 100vw;
  margin: 0;
  background: var(--foreground-solid);
  border: none;

}

.footer p {
  font-size: 0.8rem;
  color: var(--copy-light);
}

.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: var(--background);

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}